@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
            <p>
            All e-mail listed on this site is solely for information purposes only and is listed as a service to the citizens.
                Some e-mail may be SPAM or solicitations from outside entities and may contain inappropriate material outside
                of our control. Any attachments to e-mails the commissioners receive will may not display other than in a binary method that will appear as garbled text.
                These e-mails are sent automatically to this archive and Commissioners may not have had the opportunity to view them. If you require viewing any commissioner e-mail in whole, you may do so by
                contacting the <a href="http://www.cityofgainesville.org/ClerkOfTheCommission.aspx">City of Gainesville Clerk of the Commission</a>.
            </p>
</article>

<aside>
    <h3>You may also be interested in:</h3>
    <ul>
        <li><a href="http://cityofgainesville.org/CityCommission.aspx">Commission Members</a></li>
        <li><a href="https://gainesville.legistar.com/Calendar.aspx">Commission Minutes</a></li>
        <li><a href="http://library.municode.com/index.aspx?clientId=10819">Municipal Code</a></li>
    </ul>
</aside>